* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat', open-sans;
    margin: 0;
    background: #ebecf1;
  }
  
  h1,
  h2 {
    margin: 0 0 1rem 0;
  }
  
  h2 {
    font-size: 1.5rem;
  }

  a {
    color: #3282b8;
    text-decoration: none;
  }
  
  a:active,
  a:hover {
    text-decoration: underline;
  }

  button {
    padding: 1rem;
    color: #3282b8;
    font: inherit;
    border: none;
    cursor: pointer;
    background: transparent;
    border-radius: 10px;
  }
  
  button:hover,
  button:active {
    background: #D4F4FF;
  }
  
  button:focus {
    outline: none;
  }

  main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    max-width: 100rem;
    margin: auto;
    align-items: flex-start;
  }

  
 #page-header {
    background: #3282b8; 
    padding: 2rem; 
    text-align: center; 
    color: #f3f3f3;
  }

  #page-header h1 {
      font-size: 3rem;
  }

  section {
    margin: 0 0 2rem 0;
    padding: 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    background: white;
    border-radius: 10px;
  }

  #instructor-info {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #3282b8;
    padding-bottom: 1rem;
  }
  #instructor-info img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ccc;
  }
  
  #instructor-info ul {
    list-style: none;
    margin: 0 0 0 1rem;
    padding: 0;
  }

  .modal {
    position: fixed;
    top: 30vh;
    left: 5%;
    width: 90%;
    z-index: 100;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    animation: float-in 0.3s ease-out forwards;
    display: flex;
    flex-direction: column;
  }
  
  .modal h2 {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
  }
  
  .modal p {
    margin: 0;
    padding: 0 1rem;
  }
  
  .modal button {
    align-self: flex-end;
    margin: 0.5rem;
  }
  
  #backdrop {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.75);
    display: none;
    pointer-events: none;
  }
  
  #backdrop.visible {
    display: block;
    pointer-events: all;
  }
  
  @media (min-width: 768px) {
    main {
      flex-direction: row;
    }
  
    section {
      flex: 1;
      margin: 0 2rem;
    }
  
    .modal {
      left: calc(50% - 20rem);
      width: 40rem;
    }
  }